@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

#matchEnrol {
  display: none;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
}

body {
  height: 100vh;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(
    90deg,
    rgba(248, 239, 244, 1) 0%,
    rgba(206, 164, 178, 0.3783071319018405) 53%
  ); */
  background: linear-gradient(90deg, rgba(245, 244, 255, 1) 0%, rgba(203, 216, 255, 1) 100%);
  height: 100%;
}

#degree{
  margin-top: 2px;
}
.enroll {
  width: 300px;
  background-color: white;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0px 0px 35px #a8a3d4;
  border-radius: 15px;
  z-index: 1;
}

.heading {
  text-align: center;
  font-weight: 500;
  font-size: 25px;
}

span {
  display: block;
  width: 100%;
  font-size: 18px;
}

form,
.info {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content:center; */
  align-items: flex-start;
  /* gap:10px; */
  width: 100%;
}

#submit,
#submitOtp {
  /* background-color: #a40865; */
  background: linear-gradient(60deg, rgba(222, 215, 255, 1) 0%, rgba(214, 224, 255, 1) 100%);
  font-family: "Rubik", sans-serif;
  color: white;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  margin-top: 20px;
transition: all 0.1s ease;
}

#submit:active {
  /* background-color: #880d57; */
  background: linear-gradient(60deg, #d2ccf1 0%, #6f8add 100%);
  transform: scale(0.97);
}

#submitOtp:active {
    background: linear-gradient(60deg, #d2ccf1 0%, #6f8add 100%);
  transform: scale(0.97);
}

input {
  width: 100%;
  padding: 10px;
  /* border: 3px solid #5EC5A6; */
  border-radius: 3px;
  /* font-size: 18px; */
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  /* font-weight: 500; */
  border:1px solid #B4ACFB;
}

input:focus {
  /* outline: #880d57 rgb(255, 228, 228) 1px solid; */
  /* border:2px solid #B4ACFB; */
  outline:1px solid #A4B8F7;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputSection {
  margin-bottom: 5px;
  width: 100%; 
}

.style {
  width: 90%;
  position: absolute;
  /* right:100px; */
  bottom: 250px;
  /* left:30px; */
  /* height: 230px; */
  height: 400px;
  background-color: #A4B8F7;
  z-index: 0;
  opacity: 0.3;
  border-radius: 20px;
  transition: all ease 0.3s;
}

@media screen and (min-width: 769px) {
  .enroll {
    width: 400px;
  }

  .style {
    width: 500px;
  }
}
